@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.container {
  display: flex;
  height: 10vh;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
  font-family: 'Lato', sans-serif;
}
.ul_container {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 300px;
}
.ul_container li a {
  text-decoration: none;
  display: inline-block;
  color: black;
}
.hamburger {
  display: none;
}

@media screen and (max-width: 425px) {
  .container {
    flex-direction: column;
    align-items: center;
    width: 100vw;
    justify-content: center;
    margin-left: 30px;
    margin-top: 20px;

  }
  .ul_container {
    margin-top: 20px;
  }
}
