@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

.about_container {
  font-family: 'Noto Sans JP', sans-serif;

  display: flex;
  justify-content: space-around;
}

.about_img_container {
  flex-shrink: 0;
  width: 400px;
  height: 400px;
  margin: 20px 1rem;
}

.about_img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.about_info_container {
  margin: 8rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about_info_container h1 {
  margin: 20px;
}
.about_info_container p {
  margin: 20px;
}
.skills_div {
  margin-right: 8rem;
  margin-top: 2rem;
}
.skills_container {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 500px;
}
.skills_container li {
  flex-shrink: 0;
  padding: 10px;
  background: #dae2ec;
  margin: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 1181px) {
  .skills_container li {
    padding: 5px;
    margin: 6px;
  }
  .about_img_container {
    width: 300px;
    height: 300px;
    margin: 90px 1rem;
  }
}
@media screen and (max-width: 978px) {
  .about_img_container {
    margin: 0 auto;
  }

  .about_container {
    flex-direction: column;
  }
  .about_info_container {
    margin-top: 20px;
  }
  .skills_div {
    margin: 0 auto;
  }
}

@media screen and (max-width: 713px) {
  .skills_div {
    margin: 0 auto;
  }
}

@media screen and (max-width: 595px) {
  .skills_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .skills_container li {
    width: 100px;
  }
  .skills_div {
    margin: 0 auto;
  }
}
@media screen and (max-width: 369px) {
  .skills_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .skills_container li {
    width: 100px;
  }
  .skills_div {
    margin: 0 auto;
  }
  .about_container {
    margin: 0;
  }
}
